@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <div class="alert alert-danger text-center col-md-6 mt-1 mb-1">
                <h4>404 Page Not Found Error:</h4>
                <hr />
                <h4>
                    Something went wrong while retrieving your request.
                    The support team is notified and are currently working on a fix
                </h4>
                <h5>You can contact us on afeexclusive@gmail.com</h5>
                <p><a asp-controller="home" asp-action="index" class="btn btn-success">Click to see the list of all available Devs</a></p>
            </div>
        </div>
    </div>
</div>