@model CreateRoleViewModel

@{
    ViewBag.Title = "Create Role";
}

<div class="m-5 p-5">  </div>
<div class="panel panel-default shadow-lg  mt-5">
    <div class="col-md-6 col-md-offset-2">
        <div class="panel-heading main-color-bg"><h3 class="panel-title">User Login Page</h3></div>
        <div class="panel-body">
            <div class="align-content-center">
                <div class="row">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-controller="administration" asp-action="createrole" method="post" class="mt-3 p-1">
                        <div class="form-group row">
                            <label asp-for="RoleName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="RoleName" class="form-control" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="m-4">
                            <button type="submit" class=" btn btn-danger">Add Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
